
# OS X
.DS_Store

# XCode
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
Pods

# Cmake
build


#############################################


*.iml
.gradle
/android/local.properties
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android.DS_Store
/android/build
/android/captures
.externalNativeBuild
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
android/.idea/workspace.xml
android/.idea/tasks.xml
android/.idea/gradle.xml
android/.idea/assetWizardSettings.xml
android/.idea/dictionaries
android/.idea/libraries
android/.idea/caches


android/**/*.iml
android/*~
android/.externalNativeBuild
android/libwebp
android/**/ndkHelperBin
android/**/.cxx
android_project/app/build

# Keystore files
# Uncomment the following line if you do not want to check your keystore files in.
#*.jks

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

